@CHARSET "UTF-8";
/* Name:JiaZuWW Common Style */
/* location:http://www.jiazuww.com */
/* Description:This is a style file for one page */
/* Author:www.wbcom.cn QQ:993017535 TEL：15300128809 */
/* Copyright © 2012 JiaZuWW All Rights Reserved. */

.box { margin-top: 10px; display: table; float:left; border-bottom: 1px solid #ccc; overflow: hidden;}
.top { border: 1px solid #f90;}
.box .author {width: 50px; height: 100%; float: left; display: table;}
.box .block {width: 700px;  height: 100%; margin-left: 5px; display: table; clear: both;}
.box .block .content { width: 90%; padding-left:60px; text-indent: 0 !important;}
.box .block .content .authorname { color: #069; font-weight: bolder; font-size: 1.1em;}
.box .block .content .event { line-height: 20px;}
.box .block .content .imgbox {border: 1px solid #ccc; padding: 2px; display: table; margin-left: 0; *float: left;}
.box .block .info {color: #000; text-align: left; margin: 6px 3px 3px 0;}
.box .block .info a {color: #069;}
div.hover .block .info span {display: inline;}
.box .block .info span {}
.date {font-weight: bold;}




