.mark{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width:80px;
	height:80px;
	background:#FFFFFF;
	filter:alpha(opacity:50); 
	opacity:0.5;
	border:1px solid #ccc;
	cursor: move;
	}
.big{
	position:absolute;
	left:225px;
	top:0;
	display:none;
	}
.boxbig{
	position:absolute;
	left:370px;
	top:0;
	width:300px;
	height:300px;
	overflow:hidden;
	border:1px solid #ccc;
	background: #fff;
	}